@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Average&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Koulen&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.full-bg {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.full-bg::before {
  content: "";
  position: absolute;
  height: 100vh;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/BackgroundLogo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  pointer-events: none;
  /* margin-top: 4rem; */
  z-index: 0;
}

.full-bg > * {
  position: relative;
  z-index: 1;
}

.ligin-bg {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.ligin-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/LoginBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  pointer-events: none;
  /* margin-top: 4rem; */
  z-index: 0;
}

.ligin-bg > * {
  position: relative;
  z-index: 1;
}

.custom-scrollbar {
  height: 300px;
  overflow-y: scroll;
}

/* WebKit scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #9c9c9c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Override react-slick dot styles */
.slick-dots li button:before {
  color: #8b8b8b !important; /* Tailwind's gray-400 */
  opacity: 1 !important; /* Make sure it's visible */
  font-size: 10px !important;
  margin-top: 1rem;
  width: 2rem;
}

.slick-dots li.slick-active button:before {
  color: #fc3265 !important; /* Burgundy */
}

/* Rocket launch animation */
@keyframes rocketLaunch {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.animate-rocket {
  animation: rocketLaunch 1.5s ease-in-out infinite;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* Custom Scrollbar for entire site */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #585858;
}

::-webkit-scrollbar-thumb {
  background: #800020;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
